
@{
    ViewBag.Title = "CompleteOrder";
    
}

<!-- Created by Andrej -->
<div class="container text-center">
    <h2>Order has been succesfully processed!</h2>
</div>

<div class="container text-center">
    <h1>
        @Html.ActionLink("Back to Log In page", "Index")
    </h1>

</div>