
@{
    ViewBag.Title = "LogInFailure";
}
<!-- Created by Andrej -->
<div class="container text-center">
    <h2>Log In Failure</h2>
</div>



<div class="container text-center">
    <h1>
        @Html.ActionLink("Back to Log In page", "Index")
    </h1>

</div>
